<ul id="<%= dom_id(section) %>" class="section_well">
	<%= content_tag_for :li, section do %>
		<%= link_to section.title, section_path(section) %> | <span><%= link_to 'Edit', edit_section_path(section) %></span><span class="pull-right"><%= link_to 'x', section, :class => "close", confirm: 'Are you sure?', method: :delete, :remote => true, :title => "Delete Task" %></span>
		<%= render(section.tasks) %>
	<% end %>
	<div id="todo_form_<%= dom_id(section) %>" class="collapse in">
		<%= form_for(Task.new, :html => {:class => "form-inline"}, :remote => true) do |f| %>
		    <%= f.text_field :description, :placeholder => "To Do Name" %>
		    <%= f.date_select :due_date %>
		    <%= f.check_box :complete %>
		    <%= f.hidden_field :section_id, :value => section.id %>
		    <%= f.submit "Create", :class => "btn" %>
		<% end %>
	</div>
	<%= link_to 'Add a to-do', '', 'data-toggle' => 'collapse', 'data-target' => '#todo_form_' + dom_id(section), :remote => true %>
</ul>