<dl class="section_well" id="<%= dom_id(section) %>">
	<dt>
		<%= link_to section.title, section_path(section) %> | <span><%= link_to 'Edit', edit_section_path(section) %></span><span class="pull-right"><%= link_to 'x', section, :class => "close", confirm: 'Are you sure?', method: :delete, :remote => true, :title => "Delete Task" %></span>
	</dt>
	<span id="task_container">
		<%= render(section.tasks) %>
	</span>
	<div id="testing">
		<%= form_for(Task.new, :html => {:class => "form-inline"}, :remote => true) do |f| %>
		    <%= f.text_field :description, :placeholder => "To Do Name" %>
		    <%= f.date_select :due_date %>
		    <%= f.check_box :complete %>
		    <%= f.hidden_field :section_id, :value => section.id %>
		    <%= f.submit "Create", :class => "btn" %>
		<% end %>
	</div>
	<%= link_to 'New Task', '', :id => 'test_link', :remote => true %>
</dl>
