<% content_for :page_title do %>
	<div class="page-header">
    	<h1><%= @section.title %></h1>
    </div>
<% end %>

<% content_for :sidebar do %>
	<!-- <div class="well"> -->
		<ul class="nav nav-pills nav-stacked">
			<li><%= link_to 'Edit', edit_section_path(@section) %></li>
			<li><%= link_to 'Back', sections_path %></li>
		</ul>
	<!-- </div> -->

<% end %>



<% @section.tasks.each do |task| %>
    <p><h4><%= task.description %></h4></p>
    <p><h4><%= task.due_date %></h4></p>
    <p><h4><%= task.complete %></h4></p>
<% end %>
