<% content_for :page_title do %>
	<div class="page-header">
    	<h1>Projects</h1>
    </div>
<% end %>

<% content_for :sidebar do %>
	<!-- <div class="well"> -->
		<ul class="nav nav-pills nav-stacked">
			<li><%= link_to 'New Project', new_project_path %></li>
			<li><%= link_to "Archived Projects" %></li>
			<li><%= link_to "Calendar" %></li>
			<li><%= link_to "Sign In" %></li>
		</ul>
	<!-- </div> -->
<% end %>


<ul class="thumbnails">
  <% @projects.each do |project| %>
  <li class="span3">
    <section class="thumbs">
      <article class="thumbs">
        <%= link_to project, :class => "thumbnail" do %>
          <span><strong><em>&nbsp;</em></strong></span>
        <% end %>
        <span class="projtitle"><strong><em><%= truncate(project.title, :length => 20) %></em></strong></span>
        <% if project.tasks.taskcount.count > 0 %>
          <span class="badge badge-info" id="counter" title="To-Do's Open">
            <%= project.tasks.taskcount.count %>
          </span>
        <% end %>
      </article>
    </section>
  </li>
  <% end %>
</ul>


