<% content_for :page_title do %>
	<div class="page-header">
    	<h1><%= @project.title %></h1>
    </div>
<% end %>

<% content_for :sidebar do %>
	<!-- <div class="well"> -->
		<ul class="nav nav-pills nav-stacked">
			<li><%= link_to 'Edit', edit_project_path(@project) %></li>
			<li><%= link_to 'Back', projects_path %></li>
			<li><%= link_to 'Delete Project', @project, confirm: 'Are you sure?', method: :delete %></li>
		</ul>
	<!-- </div> -->

<% end %>

<% if !@project.sections.blank? %>
	<div class="row">
		<%= form_for(Section.new, :html => {:class => "form-inline"}, :remote => true) do |f| %>
		    <%= f.text_field :title, :placeholder => "Create A New Task" %>
		    <%= f.hidden_field :project_id, :value => @project.id %>
		    <%= f.submit "Create", :class => "btn" %>
		<% end %>
		<hr/>
	</div>
	<div class="row">
		<div id="project-info">
			<%= render(@project.sections) %>
		</div>
	</div>
<% else %>
	<div class="span9">
		<div class="span7 offset1">
			<h2>You Don't Have Any Tasks <small>create one below</small></h2>
		</div>
		<div class="span7 offset1 well">
			<div style="text-align:center;">
				<%= form_for(Section.new, :html => {:class => "form-horizontal"}) do |f| %>
				    <%= f.text_field :title, :placeholder => "Enter Your Task Name", :class => "span3" %>
				    <%= f.hidden_field :project_id, :value => @project.id %>
				    <%= f.submit "Create", :class => "btn btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
